body {
  overflow-x: hidden;
  margin: 0;
  font-family:'Monoid';
  color: get-color('text');
  line-height: 1.8;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family:'Slabo 27px';
  margin: 0;
}

p {
    margin-top: 0;
}
