.filtering {
  margin: 0 auto;
  width: 100%;

  &-description {
    background: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;

    @include breakpoint('>=small<=medium') {
      display: block;
    }
  }

  &-description-text {
    flex-basis: 35%;
    padding: 20px;

		@include breakpoint('xlarge') {
			padding: 40px;
		}

    @include breakpoint('>=small<=medium') {
      padding-bottom: 60px;
    }

    h1 {
      color: get-color('second');
      font-size: 60px;
      width: 100%;

      @include breakpoint('medium') {
        font-size: 50px;
      }

      @include breakpoint('small') {
          font-size: 40px;
      }
    }

    p {
      width: 100%;
      font-size: 16px;

      @include breakpoint('>=small<=medium') {
          font-size: 15px;
      }
    }
  }

  &-description-img {
    flex-basis: 65%;

    img {
      width: 100%;
    }
  }
}

.box-example {
	padding: 20px;
	background: get-color('first');
	font-size: 15px;
}
