@function map-fetch($map, $keys) {
	@each $key in $keys {
		$map: map-get($map, $key);
	}
	@return $map;
}
//colors
@function get-color($key) {
	@return map-get($colors, $key);
}

//font
@mixin font-face($name) {
	@font-face {
		font-family: '#{$name}';
		src: url('#{map-fetch($miniscss-paths, "fonts")}#{$name}.eot');
		src: url('#{map-fetch($miniscss-paths, "fonts")}#{$name}.eot?#iefix') format('embedded-opentype'),
			 url('#{map-fetch($miniscss-paths, "fonts")}#{$name}.woff2') format('woff2'),
			 url('#{map-fetch($miniscss-paths, "fonts")}#{$name}.woff') format('woff'),
			 url('#{map-fetch($miniscss-paths, "fonts")}#{$name}.ttf') format('truetype'),
			 url('#{map-fetch($miniscss-paths, "fonts")}#{$name}.svg##{$name}') format('svg');
		font-style: normal;
		font-weight: normal;
	}
}

@mixin breakpoint($device) {
	@if not map-has-key($breakpoints, $device) {
		@error 'Device value (#{$device}) is unknown';
	}
	@media #{map-get($breakpoints, $device)} {
		@content;
	}
}
