$colors: (
	first         : #f4f4f4,
	second        : #459bab,
	third         : #b27bb5,
	fourth        : #f19f00,
	text          : #555,
	text-light  	: #fff,

	twitter	      : #55acee,
	facebook      : #3b5998,
	github        : #333,
	behance       : #1769ff
);

$breakpoints: (
	'xlarge'          : "(min-width: 1360px)",
	'large'           : "(min-width: 1024px)",
	'>=small<=medium' : "(min-width: 240px) and (max-width: 1023px)",
	'medium'          : "(min-width: 700px) and (max-width: 1023px)",
	'small'           : "(min-width: 240px) and (max-width: 699px)",
	'small-small'     : "(min-width: 240px) and (max-width: 400px)"
)!default;
